
body {
    background-image: url('pictures/backround.jpeg');
    background-size: cover; 
    
}
header {
    background-color: rgb(10, 6, 10);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

th{
    padding-right: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 25px;
    padding-left: 30px;
}
img {
    mix-blend-mode: screen;
    width: 100px;
    height: 100px;
}
img.loop{
    height: 60px;
    width: 60px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }





